/* team trustylabs */
@media screen and (max-width:360px) {
#background {
background-color: #d50000;
height: 350px;
}
.logo{
margin-top: 8px ! important;
margin-left: 95px ! important;
}
.user{
margin-left:77px;
}
.cart{
margin-left:-77px;
}
.bleu-color {
width: 204px ! important;
margin-left: 55px;
}
.add {
max-width: 33px ! important;
margin-top: 7px ! important;
margin-left: 68px ! important;
}
}

@media screen and (min-width:375px) and (max-width:399px) {
#background {
background-color: #d50000;
height: 350px;
}
.logo{
margin-top: 8px ! important;
margin-left: 115px ! important;
}
.user{
margin-left:105px;
}
.cart{
margin-left:-105px;
}
.bleu-color {
width: 204px ! important;
margin-left: 89px;
}
.add {
max-width: 33px ! important;
margin-top: 7px ! important;
margin-left: 68px ! important;
}

}

@media screen and (min-width:360px) and (max-width:399px) {
#background {
background-color: #d50000;
height: 350px;
}
.logo{
margin-top: 8px ! important;
margin-left: 115px ! important;
}
.user{
margin-left:105px;
}
.cart{
margin-left:-105px;
}
.bleu-color {
width: 204px ! important;
margin-left: 89px;
}
.add {
max-width: 33px ! important;
margin-top: 7px ! important;
margin-left: 68px ! important;
}

}

@media screen and (min-width:400px) and (max-width:500px) {
#background {
background-color: #d50000;
height: 350px;
}
.logo{
margin-top: 8px ! important;
margin-left: 145px ! important;
}
.user{
margin-left:115px;
}
.cart{
margin-left:-115px;
}
.bleu-color {
width: 204px ! important;
margin-left: 115px;
}
.add {
max-width: 33px ! important;
margin-top: 7px ! important;
margin-left: 68px ! important;
}

}

@media screen and (min-width:501px) and (max-width:550px) {
#background {
background-color: #d50000;
height: 350px;
}
.logo{
margin-top: 8px ! important;
margin-left: 170px ! important;
}
.user{
margin-left:145px;
}
.cart{
margin-left:-145px;
}
.bleu-color {
width: 204px ! important;
margin-left: 135px;
}
.add {
max-width: 33px ! important;
margin-top: 7px ! important;
margin-left: 68px ! important;
}

}

@media screen and (min-width:551px) and (max-width:650px) {
#background {
background-color: #d50000;
height: 350px;
}
.logo{
margin-top: 8px ! important;
margin-left: 215px ! important;
}
.user{
margin-left:190px;
}
.cart{
margin-left:-190px;
}
.bleu-color {
width: 204px ! important;
margin-left: 185px;
}
.add {
max-width: 33px ! important;
margin-top: 7px ! important;
margin-left: 68px ! important;
}

}

@media screen and (min-width:651px) and (max-width:700px) {
#background {
background-color: #d50000;
height: 350px;
}
.logo{
margin-top: 8px ! important;
margin-left: 245px ! important;
}
.user{
margin-left:225px;
}
.cart{
margin-left:-225px;
}
.bleu-color {
width: 204px ! important;
margin-left: 215px;
}
.add {
max-width: 33px ! important;
margin-top: 7px ! important;
margin-left: 68px ! important;
}

}
@media screen and (min-width:701px) and (max-width:999px) {
#background {
background-color: #d50000;
height: 350px;
}
.logo{
margin-top: 8px ! important;
margin-left: 275px ! important;
}
.user{
margin-left:255px;
}
.cart{
margin-left:-255px;
}
.bleu-color {
width: 204px ! important;
margin-left: 245px;
}
.add {
max-width: 33px ! important;
margin-top: 7px ! important;
margin-left: 68px ! important;
}

}